*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --kolor-tla: rgb(19, 82, 141);
}

html {
    scroll-behavior: smooth;
  }

body{
    background-color: #dfe6e9;
}

.baner{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 300px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/baner1.png");
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
  }
  
  .baner p{
    color: #fff;
    font-size: 290%;
    font-family: 'Bebas Neue', cursive;
  }
  

:root {
    --kolor-tla: rgb(19, 82, 141);
    --navh: 50px;
    --navbgc: rgb(19, 82, 141);
    --tekst-kolor: #ffffff;
    --nav-tbgc: rgb(19, 82, 141);
    --tekst-kolor-hover: rgb(149, 232, 247);
    --czcionka: "Open Sans", Arial, Helvetica, sans-serif;
  }
    
  .navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--navh);
    background-color: var(--navbgc);
    font-family: var(--czcionka);
    z-index: 9999;
  }
    
  .navbar #togglericon {
    visibility: hidden;
  }
    
  .navbar #togglericon:after {
    content: "☰";
    position: absolute;
    visibility: visible;
    color: black;
    font-size: 1.5rem;
    width: 1.8rem;
    height: 1.8rem;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 1.8rem;
    border-radius: 4px;
    border: 2px solid #ffffff00;
  }
    
  .navbar #togglericon:checked:after {
    color: black;
  }
    
  .nav {
    position: sticky;
    top: 40px;
    left: 0px;
    right: 0px;
    visibility: hidden;
    opacity: 0;
    padding: 8px;
    transition: all 0.5s ease;
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-color: var(--nav-tbgc);
    box-shadow: 0px 4px 4px 0px #00000088;
  }
    
  .navbar #togglericon:checked ~ div.nav {
    visibility: visible;
    transition: all 0.3s ease;
    opacity: 1;
  }
    
  .nav a {
    padding: 8px;
    font: var(--czcionka);
    text-decoration: none;
    color: var(--tekst-kolor);
    background-color: var(--nav-tbgc);
  }
    
  .nav a:hover {
    color: var(--tekst-kolor-hover);
  }
    
  .nav p {
    margin: 0;
    padding: 8px;
    color: var(--tekst-kolor);
  }
    
  .dropdown {
    position: relative;
    display: block;
    color: var(--tekst-kolor);
    font: var(--czcionka);
  }
  .dropdown label {
    display: block;
    padding: 8px;
  }
    
  .dropdown label:after {
    position: absolute;
    content: "▼";
    color: var(--tekst-kolor);
    font-size: 0.75rem;
    top: 8px;
    margin-left: 4px;
  }
    
  .dropdown label:hover {
    color: var(--tekst-kolor-hover);
  }
  .dropdown label:hover:after {
    color: var(--tekst-kolor-hover);
  }
  .dropdown input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .dropdown input:checked ~ ul {
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: max-height 0.5s ease;
  }
  
  .dropdown input:checked ~ ul > li > a {
    display: block;
    min-height: fit-content
  }
  
  .dropdown ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: scroll;
    max-height: 0px;
    transition: max-height 0.25s ease;
  }
  .dropdown li {
    margin: 12px 0px 12px 16px;
  }
    
  .dropdown a {
    color: white;
    text-decoration: none;
    font-weight: normal;
  }
  .navbar-centered {
    justify-content: center;
  }
    
    @media (min-width: 768px) {
      .navbar #togglericon:checked ~ div.nav,
      .navbar #togglericon ~ div.nav {
        visibility: visible;
      }
    
      .navbar {
        height: var(--navh);
        background-color: var(--nav-tbgc);
        flex-direction: row;
        display: flex;
        visibility: visible;
        position: fixed;
        left: 0;
        top: 0;
        opacity: 1;
        width: 100%;
        box-shadow: 0px 1px 5px 0px #88888888;
      }
    
      .toggler {
        display: none;
      }
    
    
      .nav {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        top: 0;
        opacity: 1;
        box-shadow: none;
        background-color: #ffffff00;
      }
    
      .at-center {
        position: absolute;
      }
    
      .dropdown {
        margin: 0 8px;
      }
      .dropdown ul {
        position: absolute;
        top: 24px;
        display: flex;
        flex-direction: column;
        background-color: var(--nav-tbgc);
        padding: 0;
      }
      .dropdown:checked ~ ul {
        max-height: fit-content;
        transition: max-height 0.5s ease;
        margin: 16px 0;
        border-left: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;
        border-right: 1px solid #cccccc;
        box-shadow: 5px 5px 5px 0px #99999988;
      }
    
      .dropdown ul li {
        width: 100%;
        margin: 4px;
        padding: 0;
        display: flex;
      }
      .dropdown ul li a {
        color: white;
        padding: 8px;
        margin: 0;
        display: block;
        width: 100%;
        white-space: nowrap;
      }
    }
    
    @media (min-width: 1200px) {
      .nav {
        justify-content: center;
      }
      .nav * {
        margin: 0px 8px;
      }
  
  }
  
/*****************POCZATEK STYLU NAWIGACJI*****************/
.menu{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navi{
    background-color: var(--kolor-tla);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    top: 0;
    position: sticky;
}

.podnavi{
    width: 20%;
    padding: 12px 0 0 0;
    transition: all .5s ease-out;
}

.navi .menu li,.navi .menu a{
    text-decoration: none;
    color: #fff;
}

.material-symbols-outlined{
    position: absolute;
}

#menu-icon{
    text-align: right;
}

.menu > li{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width:20%;
    min-width: fit-content;
    padding: 10px 0 0 0;
    text-align: center;
    transition: all .5s ease-out;
}


.menu > li:hover{
    background-color: rgb(49, 155, 255);
    cursor: pointer;
}

.menu .nav-poz:hover .podnavi{
    display: block;
    position: absolute;
    visibility: visible;
    opacity: 1;
}

.menu > li > .podnavi{
    transition: all .25s ease;
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.menu > li > ul > li{
    padding: 5px 0 5px 0;
    list-style: none;
    text-decoration: none;
    background-color: rgb(49, 155, 255);
    max-width: 94vw;
    transition: all .25s ease;
}

.menu > li > ul > li:hover{
    background-color: rgb(25, 122, 212);
}

.menu > li > ul > li > ul >li{
    background-color: aqua;
    list-style: none;
    text-decoration: none;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.nav-pod .podnavi2{
    transition: all .25s ease;
    display: none;
    opacity: 0;
    visibility: hidden;
}

.podnvai2 li{
    transition: all .5s ease;
    width: 90%;
}

.nav-pod:hover .podnavi2{
    display: block;
    visibility: visible;
    opacity: 1;
}

#menu-icon{
    display: none;
}
@media only screen and (max-width: 800px){
    .navi{
        height: 7vh;
    }
    .navi ul{
        position: absolute;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
        
    }
    .menu{
        display: none;
    }
    .navi ul li{
        display: block;
    }
    .navi ul li a{
        color: #fff;
    }
    #menu-icon{
        display: block;
        cursor: pointer;
    }
}

/***********KONIEC STYLU NAWIGACJI**************/
.main{
    min-height: 100vh;
    box-shadow: 0px 0px 5px 0px rgba(154, 154, 154, 1);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    position: relative;
} 

.central{
    width: 100%;
    height: 75%;
    border: solid black 1px;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
.timeline{
    position: relative;
    max-width: 100%;
    margin: 100px auto;
}
.cont{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}
@keyframes movedown {
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.cont:nth-child(1){
    animation-delay: 0s;
}
.cont:nth-child(2){
    animation-delay: 1s;
}
.cont:nth-child(3){
    animation-delay: 2s;
}
.cont:nth-child(4){
    animation-delay: 3s;
}
.cont:nth-child(5){
    animation-delay: 4s;
}
.cont:nth-child(6){
    animation-delay: 5s;
}
.cont:nth-child(7){
    animation-delay: 6s;
}
.cont:nth-child(8){
    animation-delay: 7s;
}
.cont:nth-child(9){
    animation-delay: 8s;
}
.cont:nth-child(10){
    animation-delay: 9s;
}
.cont:nth-child(11){
    animation-delay: 10s;
}
.cont:nth-child(12){
    animation-delay: 11s;
}
.text-box{
    padding: 20px 30px;
    background: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}
.left-cont{
    left: 0;
}
.right-cont{
    left: 50%;
}
.cont img{
    position: absolute;
    width: 50px;
    border-radius: 50%;
    right: -25px;
    top: 32px;
    z-index: 10;
}
.right-cont img{
    left: -25px;
}
.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: #fff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    animation: moveline 12s linear forwards;
}
@keyframes moveline {
    0%{
        height: 0%;
    }
    100%{
        height: 100%;
    }
}

.text-box h2{
    font-weight: 600;
}
.text-box small{
    display: inline;
    margin-bottom: 15px;
}
.Larrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid rgb(255, 255, 255);
    right: -14px;
}
.Rarrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid rgb(255, 255, 255);
    left: -14px;
}

@media screen and (max-width: 600px) {
    .timeline{
        margin: 50px auto;
    }
    .timeline::after{
        left: 31px;
    }
    .cont{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .text-box{
        font-size: 13px;
    }
    .text-box small{
        margin-bottom: 10px;
    }
    .right-cont{
        left: 0;
    }
    .left-cont img, .right-cont img{
        left: 10px;
    }
    .Larrow, .Rarrow{
        border-right: 15px solid #fff;
        border-left: 0;
        left: -14px;
    }
}

/**********KONIEC STYLU MAINA******************/
#stopa{
    margin-left: auto;
    margin-right: auto;
    min-height: 200px;
    width: 80%;
    background-color: var(--kolor-tla);
    overflow: auto;
    padding: 5px;
}

.dane-kontakt{
    float: left;
    width: 30%
}

.kontakt-tt{
    font-size: 1.8em;
    color:rgb(149, 232, 247);
    text-transform: uppercase;
    font-weight: bold;
}

.kontakt-im{
    font-size: 1.2em;
    color: white;
    font-weight: 200;
}

.kontakt{
    color:rgb(14, 219, 255);
}

.spons{
    width: 70%;
    float: left;
    display: flex;
    
}

.sponsorzy1 ,.sponsorzy2{
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.sposer{
    display: inline;
    margin: 5px;
    float: left;
}

.sponsorzy1 img,.sponsorzy2 img{
    filter: grayscale(0);
    margin: 5px;
    height: 75px;
    object-fit: contain;
    transition: all .25s ease-out;
    
}

.sponsorzy1 img:hover,.sponsorzy2 img:hover{
    filter: grayscale(0);
    transform:scale(1.05);
}

@media only screen and (max-width:1200px){
    #stopa{
        width: 100%;
    }
  }
  
  @media only screen and (max-width:800px){
      .sponsorzy1{
          width: 100%;
      }
      #stopa{
          justify-content: center;
      }
      .dane-kontakt{
          text-align: center;
      }
  
    .dane-kontakt{
        width: 100%;
        clear: both;
    }
  
      .spons{
          clear: both;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          width: 100%;
      }
  
      .baner{
          width: 100%;
      }
  
      .main{
          width: 95%;
      }
  
      .sponsorzy1 img,.sponsorzy2 img{
          filter: grayscale(0);
          margin: 0 20px;
          width: 100%;
          object-fit: contain;
          transition: all .25s ease-out;
          margin-left: auto;
          margin-right: auto;
      }
  }
/**********KONIEC STYLU FOOTERA***************/