*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --kolor-tla: rgb(19, 82, 141);
}

html {
    scroll-behavior: smooth;
  }

body{
    margin-top: 5px;
}

.baner{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 300px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/baner1.png");
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
}

.baner p{
    color: #fff;
    font-size: 290%;
    font-family: 'Bebas Neue', cursive;
}

/*****************POCZATEK STYLU NAWIGACJI*****************/
.menu{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navi{
    background-color: var(--kolor-tla);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    top: 0;
    position: sticky;
}

.podnavi{
    width: 20%;
    padding: 12px 0 0 0;
    transition: all .5s ease-out;
}

.navi .menu li,.navi .menu a{
    text-decoration: none;
    color: #fff;
}

.material-symbols-outlined{
    position: absolute;
}

#menu-icon{
    text-align: right;
}

.menu > li{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width:20%;
    min-width: fit-content;
    padding: 10px 0 0 0;
    text-align: center;
    transition: all .5s ease-out;
}


.menu > li:hover{
    background-color: rgb(49, 155, 255);
    cursor: pointer;
}

.menu .nav-poz:hover .podnavi{
    display: block;
    position: absolute;
    visibility: visible;
    opacity: 1;
}

.menu > li > .podnavi{
    transition: all .25s ease;
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.menu > li > ul > li{
    padding: 5px 0 5px 0;
    list-style: none;
    text-decoration: none;
    background-color: rgb(49, 155, 255);
    max-width: 94vw;
    transition: all .25s ease;
}

.menu > li > ul > li:hover{
    background-color: rgb(25, 122, 212);
}

.menu > li > ul > li > ul >li{
    background-color: aqua;
    list-style: none;
    text-decoration: none;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.nav-pod .podnavi2{
    transition: all .25s ease;
    display: none;
    opacity: 0;
    visibility: hidden;
}

.podnvai2 li{
    transition: all .5s ease;
    width: 90%;
}

.nav-pod:hover .podnavi2{
    display: block;
    visibility: visible;
    opacity: 1;
}

#menu-icon{
    display: none;
}
@media only screen and (max-width: 800px){
    .navi{
        height: 7vh;
        display: flex;
    }
    .navi ul{
        position: absolute;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
        
    }
    .menu{
        display: none;
        align-items: center;
        
    }
    .navi ul li{
        display: block;
    }
    .navi ul li a{
        color: #fff;
    }
    #menu-icon{
        display: block;
        cursor: pointer;
        right: 0;
        margin-right: 20px;
    }
    .podnavi{
        width: 20%;
        padding: 0px 0 0 0;
        transition: all .5s ease-out;
    }
}

/***********KONIEC STYLU NAWIGACJI**************/
.main{
    min-height: 100vh;
    border: 1px black solid;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
} 

.central{
    width: 100%;
    height: 75%;
    border: solid black 1px;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.kierunki{
    width: 100%;
    min-height: 25%;
    border: solid black 1px;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.kierunek{
    width: 200px;
    height: 200px;
    border: red 1px solid;
    display: inline;
    margin: 5px;
    float: left;
    cursor: pointer;
}

.czysty{
    clear: both;
}

.post{
    width: 80%;
    min-height: 20vh;
    border: 1px solid red;
    margin: 5px;
    padding: 5px;
    display: flex;
}

.zdj-post{
    border: 1px solid green;
    width: 30%;
    min-height: 25vh;
    margin:5px;
}

.tekst-post{
    border: 1px solid yellow;
    width: 70%;
    min-height: 25vh;
    padding: 5px;
    margin: 5px;
}

@media only screen and (max-width:950px){
    .post{
        width:90%;
    }
}

@media only screen and (max-width:910px){
    .post{
        width:90%;
    }

    .zdj-post,.tekst-post{
        width: 50%;
    }

}

@media only screen and (max-width:750px){
    .post{
        width:80%;
        justify-content: center;
        flex-wrap: wrap;
    }

    .zdj-post,.tekst-post{
        width: 90%;
    }

}

/*slider*/
.prev,.next{
    color: #ffffff00;
    cursor: none;
}
@media only screen and (max-width:600px){
    .kierunek{
        display: none;
        width: 250px;
        height: 250px;
        border: 1px solid red;
        margin: 5px;
    }
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 73%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        background-color: rgba(0,0,0,0.2);
      }
      .next {
        right: 0;
        border-radius: 20% 0 0 20%;
      }
      .prev{
        left: 0;
        border-radius: 0 20% 20% 0;
      }
      .next:hover {
        background-color: rgba(0,0,0,0.6);
        border-radius: 20% 0 0 20%;
      }
      .prev:hover{
        background-color: rgba(0,0,0,0.6);
        border-radius: 0 20% 20% 0;
      }
      .fade {
        animation-name: fade;
        animation-duration: 1s;
      }
      
      @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }
}



/**********KONIEC STYLU MAINA******************/
#stopa{
    margin-left: auto;
    margin-right: auto;
    min-height: 200px;
    width: 80%;
    background-color: var(--kolor-tla);
    overflow: auto;
    padding: 5px;
}

.dane-kontakt{
    float: left;
    width: 30%;
    font-family: 'Roboto Mono', monospace;
}

.kontakt-tt{
    font-size: 1.8em;
    color:rgb(149, 232, 247);
    text-transform: uppercase;
    font-weight: bold;
}

.kontakt-im{
    font-size: 1.2em;
    color: white;
    font-weight: 200;
}

.kontakt{
    color:rgb(14, 219, 255);
}
.kontakt a{
    text-decoration: none;
    color:rgb(14, 219, 255);
}

.spons{
    width: 70%;
    float: left;
    display: flex;
    
}

.sponsorzy1 ,.sponsorzy2{
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.sposer{
    display: inline;
    margin: 5px;
    float: left;
}

.sponsorzy1 img,.sponsorzy2 img{
    filter: grayscale(1);
    margin: 5px;
    height: 75px;
    object-fit: contain;
    transition: all .25s ease-out;
    
}

.sponsorzy1 img:hover,.sponsorzy2 img:hover{
    filter: grayscale(0);
    transform:scale(1.05);
}

@media only screen and (max-width:1200px){
    #stopa{
        width: 100%;
    }
}

@media only screen and (max-width:800px){
    .sponsorzy1{
        display: block;
        justify-content: center;
    }
    #stopa{
        justify-content: center;
    }
    .dane-kontakt{
        text-align: center;
    }

    .main{
        width: 95%;
    }

    .baner{
        width: 100%;
    }

    .dane-kontakt{
        width: 100%;
        clear: both;
    }

    .spons{
        clear: both;
        align-items: center;
    }

    .sponsorzy1 img,.sponsorzy2 img{
        filter: grayscale(1);
        margin: 0 20px;
        width: 100%;
        object-fit: contain;
        transition: all .25s ease-out;
        margin-left: auto;
        margin-right: auto;
    }
}

#zegar{
    border: 1px solid black;
}
/**********KONIEC STYLU FOOTERA***************/