*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --kolor-tla: rgb(19, 82, 141);
}

html {
    scroll-behavior: smooth;
}

body{
    margin-top: 5px;
    background-color: #dfe6e9;
}

.baner{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 300px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*****************POCZATEK STYLU NAWIGACJI*****************/
:root {
    --navbar-height: 56px;
    --navbar-background-color: #54557c;
    --navbar-item-text-color: #ffffff;
    --navbar-item-background-color: rgb(19, 82, 141);
    --navbar-item-text-color-hover: rgb(149, 232, 247);
    --navbar-item-font: bold 1rem/1rem "Open Sans", Arial, Helvetica, sans-serif;
    --navbar-item-background-color-hover: white;
    --navbar-font-family: "Open Sans", Arial, Helvetica, sans-serif;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--navbar-background-color);
    font-family: var(--navbar-font-family);
    z-index: 9999;
  }
  
  .navbar #togglericon {
    visibility: hidden;
  }
  
  .navbar #togglericon:after {
    content: "☰";
    position: absolute;
    visibility: visible;
    color: black;
    font-size: 1.5rem;
    width: 1.8rem;
    height: 1.8rem;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 1.8rem;
    border-radius: 4px;
    border: 2px solid #ffffff00;
  }
  
  .navbar #togglericon:checked:after {
    color: black;
    /* border: 2px solid #f0f0f0; */
  }
  
  .nav {
    position: fixed;
    top: 40px;
    left: 0px;
    right: 0px;
    visibility: hidden;
    opacity: 0;
    padding: 8px;
    transition: all 0.5s ease;
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-color: var(--navbar-item-background-color);
    box-shadow: 0px 4px 4px 0px #00000088;
  }
  
  .navbar #togglericon:checked ~ div.nav {
    visibility: visible;
    transition: all 0.3s ease;
    opacity: 1;
  }
  
  .nav a {
    padding: 8px;
    font: var(--navbar-item-font);
    text-decoration: none;
    color: var(--navbar-item-text-color);
    background-color: var(--navbar-item-background-color);
  }
  
  .nav a:hover {
    color: var(--navbar-item-text-color-hover);
  }
  
  .nav p {
    margin: 0;
    padding: 8px;
    color: var(--navbar-item-text-color);
  }
  
  .dropdown {
    position: relative;
    display: block;
    color: var(--navbar-item-text-color);
    font: var(--navbar-item-font);
  }
  .dropdown label {
    display: block;
    padding: 8px;
  }
  
  .dropdown label:after {
    position: absolute;
    content: "▼";
    color: var(--navbar-item-text-color);
    font-size: 0.75rem;
    top: 8px;
    margin-left: 4px;
  }
  
  .dropdown label:hover {
    color: var(--navbar-item-text-color-hover);
  }
  .dropdown label:hover:after {
    color: var(--navbar-item-text-color-hover);
  }
  .dropdown input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .dropdown input:checked ~ ul {
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: max-height 0.5s ease;
  }

  .dropdown input:checked ~ ul > li > a {
    display: block;
    min-height: fit-content
  }

  .dropdown ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: scroll;
    max-height: 0px;
    transition: max-height 0.25s ease;
  }
  .dropdown li {
    margin: 12px 0px 12px 16px;
  }
  
  .dropdown a {
    color: black;
    text-decoration: none;
    font-weight: normal;
  }
  .navbar-centered {
    justify-content: center;
  }
  
  @media (min-width: 768px) {
    .navbar #togglericon:checked ~ div.nav,
    .navbar #togglericon ~ div.nav {
      visibility: visible;
    }
  
    .navbar {
      height: var(--navbar-height);
      background-color: var(--navbar-item-background-color);
      flex-direction: row;
      display: flex;
      visibility: visible;
      position: fixed;
      left: 0;
      top: 0;
      opacity: 1;
      width: 100%;
      box-shadow: 0px 1px 5px 0px #88888888;
    }
  
    .toggler {
      display: none;
    }
  
  
    .nav {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      top: 0;
      opacity: 1;
      box-shadow: none;
      background-color: #ffffff00; /* transparent */
    }
  
    .at-center {
      position: absolute;
    }
  
    .dropdown {
      margin: 0 8px;
    }
    .dropdown ul {
      position: absolute;
      top: 24px;
      display: flex;
      flex-direction: column;
      background-color: var(--navbar-item-background-color);
      padding: 0;
    }
    .dropdown:checked ~ ul {
      max-height: fit-content;
      transition: max-height 0.5s ease;
      margin: 16px 0;
      border-left: 1px solid #cccccc;
      border-bottom: 1px solid #cccccc;
      border-right: 1px solid #cccccc;
      box-shadow: 5px 5px 5px 0px #99999988;
    }
  
    .dropdown ul li {
      width: 100%;
      margin: 4px;
      padding: 0;
      display: flex;
    }
    .dropdown ul li a {
      color: white;
      padding: 8px;
      margin: 0;
      display: block;
      width: 100%;
      white-space: nowrap;
    }
  }
  
  @media (min-width: 1200px) {
    .nav {
      justify-content: center;
    }
    .nav * {
      margin: 0px 8px;
    }

  }

/***********KONIEC STYLU NAWIGACJI**************/
.main{
    min-height: 100vh;
    border: 1px black solid;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    font-family: 'Oswald', sans-serif;
} 

.kierunek-aut,.kierunek-ele,.kierunek-inf,.kierunek-mech,.kierunek-prg,.kierunek-rob{
    font-family: 'Space Grotesk', sans-serif;
}

.tts-kierunki{
    padding: 20px 0 20px 10px;
    font-family: 'Jost', sans-serif;
}

.central{
    width: 100%;
    height: 75%;
    border: solid black 1px;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.kierunki{
    width: 100%;
    min-height: 25%;
    border: solid black 1px;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.kierunek{
    width: 200px;
    height: 180px;
    border: red 1px solid;
    display: inline;
    margin: 5px;
    float: left;
}

.czysty{
    clear: both;
}

.post{
    width: 80%;
    min-height: 20vh;
    border: 1px solid red;
    margin: 5px;
    padding: 5px;
    display: flex;
}

.zdj-post{
    border: 1px solid green;
    width: 30%;
    min-height: 25vh;
    margin:5px;
}

.tekst-post{
    border: 1px solid yellow;
    width: 70%;
    min-height: 25vh;
    padding: 5px;
    margin: 5px;
}

/**********KONIEC STYLU MAINA******************/
#stopa{
    margin-left: auto;
    margin-right: auto;
    min-height: 200px;
    width: 80%;
    background-color: var(--kolor-tla);
    overflow: auto;
    padding: 5px;
}

.dane-kontakt{
    float: left;
    width: 30%
}

.kontakt-tt{
    font-size: 1.8em;
    color:rgb(149, 232, 247);
    text-transform: uppercase;
    font-weight: bold;
}

.kontakt-im{
    font-size: 1.2em;
    color: white;
    font-weight: 200;
}

.kontakt{
    color:rgb(14, 219, 255);
}

.spons{
    width: 70%;
    float: left;
    display: flex;
    
}

.sponsorzy1 ,.sponsorzy2{
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.sposer{
    display: inline;
    margin: 5px;
    float: left;
}

.sponsorzy1 img,.sponsorzy2 img{
    filter: grayscale(1);
    margin: 5px;
    height: 75px;
    object-fit: contain;
    transition: all .25s ease-out;
    
}

.sponsorzy1 img:hover,.sponsorzy2 img:hover{
    filter: grayscale(0);
    transform:scale(1.05);
}

@media only screen and (max-width:800px){
    .sponsorzy1{
        display: block;
        justify-content: center;
    }
    #stopa{
        justify-content: center;
    }
    .dane-kontakt{
        text-align: center;
    }

    .dane-kontakt{
        width: 100%;
        clear: both;
    }

    .spons{
        clear: both;
    }

    .sponsorzy1 img,.sponsorzy2 img{
        filter: grayscale(1);
        margin: 0 20px;
        width: 100%;
        object-fit: contain;
        transition: all .25s ease-out;
        margin-left: auto;
        margin-right: auto;
    }
}

#zegar{
    border: 1px solid black;
}
/**********KONIEC STYLU FOOTERA***************/

.proba{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.proba li{
    position: relative;
    list-style: none;
    color:rgb(49, 155, 255);
}

.proba li a{
    position: relative;
    color:rgb(49, 155, 255);
    font-size: 3em;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 15);
}

.proba li a::before{
    content: attr(data-text);
    position: absolute;
    color:rgb(49, 155, 255);
    width: 0;
    overflow: hidden;
    transition: 1s;
    border-right: 8px solid blue;
    -webkit-text-stroke: 1px blue;
}

.proba li a:hover::before, .proba li a:focus::before, .proba li a:active::before{
    width: 100%;
    filter: drop-shadow(0 0 25px blue);
}

/*.proba-hover{
    width: 100%;
    filter: drop-shadow(0 0 25px blue);
    transition: 1s;
    border-right: 8px solid blue;
    -webkit-text-stroke: 1px blue;
    content: attr(data-text);
    position: absolute;
    color:rgb(49, 155, 255);
}*/

.kierunek-prg,.kierunek-inf,.kierunek-mech,.kierunek-rob,.kierunek-aut,.kierunek-ele{
    display: none;
    transition: all 1s;
    overflow: visible;
    transition: all .5s ease;
}

